

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeDecor</title>
</head>
<body style="background-color: rgb(236, 239, 236);">
    <%- include('header') %>
    <%- include('leftnav') %>

    <div style="margin-left:18%; margin-top: 6%;">
      
        <img src="/assets/images/bck2.jpg" style="height: 450px; width: 450px;" >
        </div>
</body>
</html>

       
                       





               
 


      

