

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertical Navbar</title>
    <link rel="stylesheet" href="/assets/css/styles1.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <div>
                <button class="btn btn-icon btn-aside-minimize"> 
                    <i class="text-muted material-icons md-menu_open"></i> 
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/home">
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/usersList">
                        <span class="text">User list</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/category">
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/brand">
                        <span class="text">Brands</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/productsList">
                        <span class="text">Product list</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" disabled href="/admin/addProduct">
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/ordersList">
                        <span class="text">Offer</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" disabled href="/admin/brand">
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="#">
                        <span class="text">Voucher</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="#">
                        <span class="text">Stocks</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" disabled href="/admin/coupon">
                        <span class="text">Salesreport</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" disabled href="/admin/banner">
                        <span class="text">Banner Management</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" disabled href="/admin/contact">
                        <span class="text">Messages</span>
                    </a>
                </li>
            </ul>
            <hr>
        </nav>
    </aside>
</body>
</html>


