<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <%- include('userHeader') %>
    <div style="height: 15rem; width: 100%; background-color: rgb(59, 93, 80);" class="header-container">
        <img style="height: 13rem; width: 30rem;" src="/assets/images/14.png" class="sofa-image">
    </div>
    <div>
       
    </div>
   
</body>
</html>